@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@-webkit-keyframes MMM-voice-pulse {
    0% { color: #999; }
    50% { color: #000; }
    100% { color: #999; }
}

.MMM-voice .pulse {
    -webkit-animation: MMM-voice-pulse 1s infinite;
    animation: MMM-voice-pulse 1s infinite;
}

.MMM-voice .icon {
    margin-right: 5px;
}

.MMM-voice-blur {
    -webkit-filter: blur(4px) brightness(10%);
    filter: blur(4px) brightness(10%);
}

.MMM-voice .modal {
   columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
   position: fixed; /* or absolute */
  top: 40%;
  left: 20%;
}

.MMM-voice .modal ul {
    margin: 0;     
    font-size: 17px;
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color: yellow;
}
